/* Import Compass CSS3 module */

@import "compass/css3";

/* Define variables for colors */

$body-background: #f5efe6;
$color-class-a-plus-plus: #396433;
$color-class-a-plus: #669e4c;
$color-class-a: #afbe00;
$color-class-b: #f9ec46;
$color-class-c: #f9d956;
$color-class-d: #e5761e;
$color-class-e: #dc242e;
$color-class-f: #c41017;
$color-class-g: #ae2a25;
$color-class-x: #000000;

/* Apply styles to the body */

body {
  padding: 3em;
  background: $body-background;
}

/* Apply styles to h2 elements */

h2 {
    font: {
      family: 'Trebuchet MS', Arial, sans-serif;
      size: 28px;
    }
    color: #000000;
}

/* Define a placeholder for common styles of quality indicator boxes */

%qualityClasses {
    position: relative;
    display: block;    
    height: 18px;
    @include box-sizing('border-box');    
    margin: {
        top: 2px;
        bottom: 2px;
    }
    padding-left: 3px;     
    line-height: 18px;
    color: #fff;
    font: {
        family: Arial, sans-serif;
        size: 14px;
        weight: 700;
    }
    /* Style the after pseudo-element */  
    &::after {
        content:"";        
        position:absolute;
        left:100%;        
        border:9px solid transparent;
        border-left:9px solid #fbb900;
    }
    /* Style the before pseudo-element */	
	&::before {
    	content: "";		
    	position: absolute;
    	left: -18px;		
    	border: 9px solid transparent;
    	border-right: 9px solid #fbb900;
	}
    /* Position the superscript element */    
    & > sup {
        position: absolute;
        top: -3px;
    }
}

/* Apply the quality classes to different indicators */

.classAPlusPlus {
    @extend %qualityClasses;     
    width: 30px;    
    background-color: $color-class-a-plus-plus;
    border-color: $color-class-a-plus-plus;
	display: inline-block; // Ensure classAPlusPlus is displayed inline-block
    &::after {
        border-left-color: $color-class-a-plus-plus; 
    }
    &::before {
		border-right-color: $body-background;
	}
}

.classAPlus {
    @extend %qualityClasses;  
    width: 37px;    
    background-color: $color-class-a-plus;
    border-color: $color-class-a-plus;   
    &::after {
        border-left-color: $color-class-a-plus; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classA {
    @extend %qualityClasses;        
    width:44px;    
    background-color: $color-class-a;
    border-color: $color-class-a;   
    &::after {
        border-left-color: $color-class-a; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classB {
    @extend %qualityClasses;
    width:51px;    
    background-color: $color-class-b;
    border-color: $color-class-b;   
    &::after {
        border-left-color: $color-class-b; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classC {
    @extend %qualityClasses;    
    width:58px;    
    background-color: $color-class-c;
    border-color: $color-class-c;   
    &::after {
        border-left-color: $color-class-c; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classD {
    @extend %qualityClasses;    
    width:65px;    
    background-color: $color-class-d;
    border-color: $color-class-d;   
    &::after {
        border-left-color: $color-class-d; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classE {
    @extend %qualityClasses;    
    width:72px;    
    background-color: $color-class-e;
    border-color: $color-class-e;   
    &::after {
        border-left-color: $color-class-e; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classF {
    @extend %qualityClasses;    
    width:79px;    
    background-color: $color-class-f;
    border-color: $color-class-f;   
    &::after {
        border-left-color: $color-class-f; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classG {
    @extend %qualityClasses;    
    width:86px;    
    background-color: $color-class-g;
    border-color: $color-class-g;   
    &::after {
        border-left-color: $color-class-g; 
    }
	&::before {
		border-right-color: $body-background;
	}
}

.classX {
    @extend %qualityClasses;    
    width: 30px;    
    background-color: $color-class-x;    
    display: inline-block;	
    &::after {
        border-left-color: $body-background;
    }
	&::before {
		border-right-color: $color-class-x;
	}
}
    
.classAPlusPlus + .classX {
    margin-left: 86px; // Adjust the distance between classAPlusPlus and classH
}
