@import "compass/css3";

/* Define variables for colors */

$body-background: #f5efe6;
$color-class-a-plus-plus: #396433;
$color-class-a-plus: #669e4c;
$color-class-a: #afbe00;
$color-class-b: #f9ec46;
$color-class-c: #f9d956;
$color-class-d: #e5761e;
$color-class-e: #dc242e;
$color-class-f: #c41017;
$color-class-g: #ae2a25;
$color-class-x: #000;

/* Apply styles to the body */

body {
  padding: 6em;
  background: $body-background;
}

/* Apply styles to h2 elements */

h1 {
    font: {
      family: Helvetica;
      size: 48px;
    }
    color: #000;
}

.container {
    position: relative;
}

/* Vertical axis definition */

.vertical-axis {
    position: absolute;
    width: 3px; 
    height: 365px; 
    background-color: black; 
	margin-right: 50px;
}

.vertical-axis::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translateX(-65%) rotate(45deg); 
    border: solid black;
    border-width: 0 3px 3px 0; 
    width: 7.5px; 
    height: 7.5px; 
}

.tick {
    position: absolute;
    right: 100%; 
    width: 7.5px; 
    height: 3px; 
    background-color: black; 
}

.tick::after {
    content: attr(data-label);
    position: absolute;
    top: -10px; 
    right: 20px;
	font: {
        family: Helvetica;
        size: 22px;
        weight: 500;
    }
}

.tick:nth-child(1) {
    bottom: 362px;
}

.tick:nth-child(2) {
    bottom: 325px;
}

.tick:nth-child(3) {
    bottom: 285px;
}

.tick:nth-child(4) {
    bottom: 245px;
}

.tick:nth-child(5) {
    bottom: 205px;
}

.tick:nth-child(6) {
    bottom: 165px;
}

.tick:nth-child(7) {
    bottom: 125px;
}

.tick:nth-child(8) {
    bottom: 85px;
}

.tick:nth-child(9) {
    bottom: 45px;
}

/* Quality indicators definition */

%qualityIndicators {
    position: relative;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: flex-end; /* Align items to the end (right) */
    margin-left: 10px;
    height: 36px;
    @include box-sizing('border-box');
    margin: {
        top: 4px;
        bottom: 4px;
    }
    padding-left: 6px; 
    color: #fff;
    font: {
        family: Helvetica;
        size: 28px;
        weight: 500;
    }
    text-align: right;
    &::after {
        content:"";
        position:absolute;
        left:100%;
        top: 50%;
        transform: translateY(-50%);
        border:18px solid transparent;
        border-left:18px solid #fbb900;
    }
    & > sup {
        position: relative;
        right: 0;
        transform: translateY(-25%);
    }
}


.classAPlusPlus {
    @extend %qualityIndicators;
     
    width: 120px;
    
    background-color: $color-class-a-plus-plus;
    border-color: $color-class-a-plus-plus;
   
    &::after {
        border-left-color: $color-class-a-plus-plus; 
    }
    
}

.classAPlus {
    @extend %qualityIndicators;
  
    width: 134px;
    
    background-color: $color-class-a-plus;
    border-color: $color-class-a-plus;
   
    &::after {
        border-left-color: $color-class-a-plus; 
    }
}

.classA {
    @extend %qualityIndicators;
        
    width:148px;
    
    background-color: $color-class-a;
    border-color: $color-class-a;
   
    &::after {
        border-left-color: $color-class-a; 
    }
}

.classB {
    @extend %qualityIndicators;
    
    width:162px;
    
    background-color: $color-class-b;
    border-color: $color-class-b;
   
    &::after {
        border-left-color: $color-class-b; 
    }
}

.classC {
    @extend %qualityIndicators;
    
    width:176px;
    
    background-color: $color-class-c;
    border-color: $color-class-c;
   
    &::after {
        border-left-color: $color-class-c; 
    }
}

.classD {
    @extend %qualityIndicators;
    
    width:190px;
    
    background-color: $color-class-d;
    border-color: $color-class-d;
   
    &::after {
        border-left-color: $color-class-d; 
    }
}

.classE {
    @extend %qualityIndicators;
    
    width:204px;
    
    background-color: $color-class-e;
    border-color: $color-class-e;
   
    &::after {
        border-left-color: $color-class-e; 
    }
}

.classF {
    @extend %qualityIndicators;
    
    width:218px;
    
    background-color: $color-class-f;
    border-color: $color-class-f;
   
    &::after {
        border-left-color: $color-class-f; 
    }
}

.classG {
    @extend %qualityIndicators;
    
    width:232px;
    
    background-color: $color-class-g;
    border-color: $color-class-g;
   
    &::after {
        border-left-color: $color-class-g; 
    }
}

/* Quality class definition */

%qualityClass {
    position: relative;
    display: block;
    
    height: 36px;
    @include box-sizing('border-box');
    
    margin: {
        top: 4px;
        bottom: 4px;
    }
    padding-left: 6px; 
    
    line-height: 36px;
    color: #fff;
    font: {
        family: Helvetica;
        size: 28px;
        weight: 500;
    }
    
    &::before {
    	content: "";		
    	
		position: absolute;
    	left: -36px;		
    	
		border: 18px solid transparent;
    	border-right: 18px solid #fbb900;
	}
    
    & > sup {
        position: absolute;
        top: -6px;
    }
}

.classX {
    @extend %qualityClass;
    
    width:90px;
    
    background-color: $color-class-x;
    border-color: $color-class-x;
   
    &::before {
        border-right-color: $color-class-x; 
    }
}

/* Input boxes definition*/

.input-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    font: {
        family: Arial, sans-serif;
        size: 20px;
        weight: 500;
    }
    margin-right: 10px;
	margin-left: 10px;
	margin: 10px 10px 5px 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: {
        family: Arial, sans-serif;
        size: 14px;
        weight: 350;
    }
}

/* Calculate button definition */

#calculateButton {
    margin: 20px 10px 10px 10px;
    width: 150px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    font: {
        family: Arial, sans-serif;
        size: 16px;
        weight: 700;
    }
    background-color: #4CAF50; /* Change background color as needed */
    color: white; /* Change text color as needed */
    border: none; /* Remove border */
    border-radius: 5px; /* Apply border radius */
    cursor: pointer; /* Show pointer cursor on hover */
}

#calculateButton:hover {
    background-color: #45a049; /* Darken background color on hover */
}
